#app input {
  position: absolute;
  left: 0px;
  top: 0px;
  outline: none;
  z-index: -1;
}

#footer {
  background-color: #25282e;
  font: 14px monospace;
  display: block;
  position: absolute;
  z-index: 1;
  color: #555;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

#footer * {
  color: orange;
}
