#left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  max-height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#left > ul {
  height: 90vh;
}

#left ul {
  display: block;
  margin: 0;
  padding: 0;
  flex: 1;
  user-select: none;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

#left li {
  display: block;
  position: relative;
  margin: 0;
  font-size: 14px;
  line-height: 23px;
  padding: 0;
  cursor: pointer;
  color: #ccc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#left li > button {
  font-size: 14px;
  height: 23px;
  line-height: 23px;
  width: 100%;
  text-align: left;
  padding: 0 10px 0 20px;
  background-color: transparent;
  border: 0;
  color: inherit;
  cursor: inherit;
}

#left li > button:hover {
  background-color: rgba(255,255,255,0.05);
}

#left li > ul {
  /* margin-left: 20px; */
}

#left li .icon {
  display: inline-block;
  vertical-align: top;
  margin-top: 2px;
  font-size: 12px;
  width: 12px;
  height: 12px;
  line-height: inherit;
  margin-right: 7px;
}

#left li.list-directory > button {
  color: #af87ff;
  font-weight: 600;
}

.dir-arrow {
  position: absolute;
  margin-left: -17px;
  margin-top: 4px;
  display: inline-block;
  width: 14px;
  height: 14px;
  opacity: 0.7;
}

[data-is-open] > button > .dir-arrow {
  transform: rotateZ(90deg);
}
